<html>
<head>
<title>{{ title }}</title>
</head>
<body>
<pre>
/help
		Print this page.
/flat
		Return the bed to the flat position.
/zeroG
		Move the bed to the "Zero G" position.
/noSnore
	Move the bed to the Anti-Snore position.
/setHead/[0-100]
		Move the head up by a percentage (0-100%).
/getHead
		Get the current position of the head.
/setFeet/[0-100]
		Move the foot up by a percentage (0-100%).
/getFeet
		Get the current position of the foot.
/setLumbar/[0-100]
		Move the foot up by a percentage (0-100%).
/getLumbar
		Get the current position of the foot.
/setTilt/[0-100]
		Tilt the bed by a percentage (0-100%)
/getTilt
		Get the current tilt of the bed.
/setHeadMassage/[0-100]
		Set the head vibrate to a percentage (0-100%).
/getHeadMassage
		Get the the head vibration setting.
/setFeetMassage/[0-100]
		Set the feet massage to a percentage (0-100%).
/getFeetMassage
		Get the the feet massage setting.
/setWaveMassage/[0-4]
	Set the wave massage (0-4), where 0 is off.
/getWaveMassage
		Get the the wave massage setting.
/stopMassage
		Turn off all massage elements.
/light/on
		Turn on the under bed light (using bluetooth).
/light/off
		Turn off the under bed light (using bluetooth).
/light/status
		Get the status of the under bed light (using bluetooth).
</pre>
</body>
</html>
